#{extends 'main.html' /}
#{set title:'Add Workout' /}

<h1>Add Workout</h1>
<form action="@{Workouts.save}" method="post">
  <label>
    Date: <input name="workout.start" value="${flash['workout.start']}" placeholder="dd.mm.yyyy">
    <span class="error">#{error 'workout.start' /}</span>
  </label>
  <label>
    Type: <input name="workout.type" value="${flash['workout.type']}">
    <span class="error">#{error 'workout.type' /}</span>
  </label>
  <label>
    Duration: <input name="workout.duration" value="${flash['workout.duration']}">
    <span class="error">#{error 'workout.duration' /}</span>
  </label>
  <input type="submit" value="Add Workout"/>
</form>
