#{extends 'main.html' /}
#{set title:'Add Workout' /}

<h1>Add Workout</h1>
<form action="@{Workouts.save}" method="post">
  <label>
    Date:
    <div class="input-append date datepicker" data-date="${new Date().format(play.Play.configuration.getProperty('date.format'))}" data-date-format="${play.Play.configuration.getProperty('date.format').toLowerCase()}">
      <input id="id2" class="span2 " size="16" type="text" name="workout.start" value="${flash['workout.start'] ?: new Date()}">
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
    <span class="error">#{error 'workout.start' /}</span>
  </label>
  <label>
    Type: <input name="workout.type" value="${flash['workout.type']}">
    <span class="error">#{error 'workout.type' /}</span>
  </label>
  <label>
    Duration: <input name="workout.duration" value="${flash['workout.duration']}">
    <span class="error">#{error 'workout.duration' /}</span>
  </label>
  <input type="submit" class="btn" value="Add Workout"/>
</form>
