#{extends 'main.html' /}
#{set title:'Add Workout' /}

<script>
  $(function() {
    setHappy($('#happy-btn-group .btn[data-value="'+$('input[name="workout.happy"]').val()+'"]'));

    function setHappy(btn) {
      $('input[name="workout.happy"]').val(btn.data('value'));
      $('#happy-btn-group .btn').each(function() {
        $(this).removeClass('active');
      });
      btn.addClass('active');
    }

    $('#happy-btn-group').on('click', '.btn', function() {
      setHappy($(this));
    });

    $('#workout-add').click(function() {
      var start = $('input[name="workout.startTime"]').val()+' '+$('input[name="workout.startDate"]').val();
      $('input[name="workout.start"]').val(start);

      var duration = $('input[name="workout.duration"]');
      duration.val(duration.val() + "+0000");

      $('#workout-form').submit();
    });
  });
</script>

<h1>Add Workout</h1>
<br>
<form id="workout-form" action="@{Workouts.save}" class="form-horizontal" method="post">
  #{formItem 'workout.type'}
    #{select name: 'workout.type', items: models.Sport.values(), as: 'sport', labelProperty: 'sport.'+sport, value: flash['workout.type']}#{/select}
  #{/formItem}

  #{formItem 'workout.start'}
    <input type="hidden" name="workout.start">
    <div class="input-append date" data-date="${new Date().formatDate()}" data-date-format="${models.Config.DATE_FORMAT}">
      <input class="input-small" type="text" name="workout.startDate" value="${flash['workout.startDate'] ?: new Date().formatDate()}">
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
    <div class="input-append bootstrap-timepicker">
      <input name="workout.startTime" class="timepicker input-mini" type="text" data-show-meridian="false" data-show-seconds="true" data-second-step="1" data-minute-step="1" data-default-time="${flash['workout.startTime'] ?: new Date().formatTime()}">
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  #{/formItem}

  #{formItem 'workout.duration'}
    <div class="input-append bootstrap-timepicker">
      <input name="workout.duration" class="timepicker input-mini" type="text" autocomplete="false" data-show-meridian="false" data-show-seconds="true" data-second-step="1" data-minute-step="1" data-default-time="${flash['workout.duration'] ?: new Date(0).formatTimeUTC()}">
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  #{/formItem}

  #{formItem 'workout.distance'}
    <input name="workout.distance" type="text" class="input-mini" placeholder="1.23" value="${flash['workout.distance']}" autocomplete="false"/> &{'km'}
  #{/formItem}

  #{formItem 'workout.happy'}
    <div id="happy-btn-group" class="btn-group">
      #{list items:[1,5,9], as:'value'}
        <a class="btn" data-value="${value}" href="#"><i style="font-size:150%" class="${[1:'icon-frown', 5:'icon-meh', 9:'icon-smile'][value]} ${[1:'text-error', 5:'text-warning', 9:'text-success'][value]}"></i></a>
      #{/list}
    </div>
    <input type="hidden" name="workout.happy" value="${flash['workout.happy']?:5}"/>
  #{/formItem}

  #{formItem}
    <a href="#" id="workout-add" class="btn">Add Workout</a>
  #{/formItem}
</form>