#{extends 'main.html' /}
#{set title:'My Workouts' /}

<h1>My Workouts</h1>
<div><a href="@{Workouts.add}">Add Workout</a></div>
<br>
<table id="workouts-table" class="table table-hover">
  <tr>
    <th>&{'workout.type'}</th>
    <th>&{'workout.start'}</th>
    <th>&{'workout.duration'}</th>
    <th>&{'workout.distance'} (&{'km'})</th>
  </tr>
  <tr>
  #{list items: workouts, as: 'workout'}
    <td>${workout.type}</td>
    <td>${workout.start.format()}</td>
    <td>${workout.duration.formatTime()}</td>
    <td>${workout.distance.format("0.##")}</td>
  </tr>
#{/list}
</table>
